@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<h1>Siparişler</h1>
<p>Sipariş listesi burada olacak.</p>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
